--out--
#输出目录
out_dir=D:\Project\PythonProject\breed\breed_orice\out\struct\
#文件前缀
file_pre = Apl_
--end--

#struct-db关系图
--db--
#一般分为3种关系 一对一 多对一 一对多，常见的是一对一和多对一
struct_apl = apl.tbl_apl
struct_plc = plc.tbl_plc
--end--

--struct--
#actionname|field4|field  type input | is_conv |转换关系：XXX
#投保人基本信息
struct_apl|AplName|input.text|N||
struct_apl|ID|input.text|N||
#保单基本信息
struct_plc|AplDate|input.text|N||
struct_plc|StartDate|input.text|N||
struct_plc|EndDate|input.text|N||
struct_plc|SalesOriginicleType|input.combbox|N||
struct_plc|PayType|input.combbox|N||
struct_plc|ShortRateTyVehicleFlag|input.combbox|N||
struct_plc|ShortPercenOwnerFlag|input.combbox|N||
struct_plc|Examinant|input.combbox|N||
struct_plc|SaleOfficeNnVehicleFlag|input.combbox|N||
struct_plc|SalesNo|input.combbox|N||
struct_plc|AgentNo|input.text|N||
struct_plc|SettleType|input.combbox|N||
struct_plc|Arbitrator|input.combbox|N||
--end--

