--action--
#actionname|field4|field  type input | is_conv |×ª»»¹ØÏµ£ºXXX
SendAction|CarMark|input.text|N||
SendAction|CarMark|input.text|N||
SendAction|VIN|input.text|N||
SendAction|EngineNo|input.text|N||
SendAction|Model|input.text|N||
SendAction|VehicleType|input.combbox|N||
SendAction|NoLicenseFlag|input.combbox|N||
SendAction|NewVehicleFlag|input.combbox|N||
SendAction|ChgOwnerFlag|input.combbox|N||
SendAction|EcdemicVehicleFlag|input.combbox|N||
SendAction|LoanVehicleFlag|input.combbox|N||
SendAction|FleetFlag|input.combbox|N||
SendAction|PrtBrand|input.text|N||
SendAction|AreaFlag|input.combbox|N||
SendAction|ProducerCode|input.combbox|N||
SendAction|VehicleOwnerName|input.text|N||
--end--

