component yongan_apl
#永安投保人模块
lib

end;

out

end;


control
field.'{"fieldname":"APL_INFO","fieldchnname":"投保人信息","parent":"super.display()","field_type":"PANEL"}'
field.'{"fieldname":"AplName","fieldchnname":"(*)姓名","parent":"APL_INFO","field_type":"input.text","field_length":"50","label_color":red","must_input":"Y"}
field.'{"fieldname":"ID","fieldchnname":"(*)身份证","parent":"APL_INFO","field_type":"input.text","field_length":"50","label_color":red","must_input":"Y"}
end;
