#主工程配置文件
--main--
project_name=project_AQ
Language=java
tpl_name=jjs_java
main_dir=D:\project\webProject\car_send\ImportScript\breed
tpl_dir=tpl
config_dir=in
target_dir=out
--end--

--page--
#页面名称|页面title|
page1.config|查询主页面|
page2.config|测试一个页|
--end--

--database--
#数据库表名|配置文件名
plc_main|plc_main.config
plc_lbt|plc_lbt.config
--end--
