LicensePlateColorCode	01	蓝
LicensePlateColorCode	02	黑
LicensePlateColorCode	03	白
LicensePlateColorCode	04	黄
LicensePlateColorCode	05	白蓝
LicensePlateColorCode	99	其他
LicensePlateType	01	大型汽车号牌
LicensePlateType	02	小型汽船号牌
LicensePlateType	03	使馆汽车号牌
LicensePlateType	04	领馆汽车号牌
LicensePlateType	05	境外汽车号牌
LicensePlateType	06	外籍汽车号牌
LicensePlateType	07	两、三轮摩托车号牌
LicensePlateType	08	轻便摩托车号牌
LicensePlateType	09	使馆摩托车号牌
LicensePlateType	10	领馆摩托车号牌
LicensePlateType	11	境外摩托车号牌
LicensePlateType	12	外籍摩托车
LicensePlateType	13	农用运输车号牌
LicensePlateType	14	拖拉机号牌
LicensePlateType	15	挂车号牌
LicensePlateType	16	教练汽车号牌
LicensePlateType	17	教练摩托车号牌
LicensePlateType	18	试验汽车号牌
LicensePlateType	19	试验摩托车号牌
LicensePlateType	20	临时入境汽车号牌
LicensePlateType	21	临时入境摩托车号牌
LicensePlateType	22	临时行驶车号牌
LicensePlateType	23	警用汽车号牌
LicensePlateType	24	警用摩托车号牌
LicensePlateType	31	武警号牌
LicensePlateType	32	军队号牌
LicensePlateType	99	其他号牌
VehicleType	B11	重型普通半挂车
VehicleType	B12	重型厢式半挂车
VehicleType	B13	重型罐式半挂车
VehicleType	B14	重型平板半挂车
VehicleType	B15	重型集装箱半挂车
VehicleType	B16	重型自卸半挂车
VehicleType	B17	重型特殊结构半挂车
VehicleType	B21	中型普通半挂车
VehicleType	B22	中型厢式半挂车
VehicleType	B23	中型罐式半挂车
VehicleType	B24	中型平板半挂车
VehicleType	B25	中型集装箱半挂车
VehicleType	B26	中型自卸半挂车
VehicleType	B27	中型特殊结构半挂车
VehicleType	B31	轻型普通半挂车
VehicleType	B32	轻型厢式半挂车
VehicleType	B33	轻型罐式半挂车
VehicleType	B34	轻型平板半挂车
VehicleType	B35	轻型自卸半挂车
VehicleType	D11	无轨电车
VehicleType	D12	有轨电车
VehicleType	G11	重型普通全挂车
VehicleType	G12	重型厢式全挂车
VehicleType	G13	重型罐式全挂车
VehicleType	G14	重型平板全挂车
VehicleType	G15	重型集装箱全挂车
VehicleType	G16	重型自卸全挂车
VehicleType	G21	中型普通全挂车
VehicleType	G22	中型厢式全挂车
VehicleType	G23	中型罐式全挂车
VehicleType	G24	中型平板全挂车
VehicleType	G25	中型集装箱全挂车
VehicleType	G26	中型自卸全挂车
VehicleType	G31	轻型普通全挂车
VehicleType	G32	轻型厢式全挂车
VehicleType	G33	轻型罐式全挂车
VehicleType	G34	轻型平板全挂车
VehicleType	G35	轻型自卸全挂车
VehicleType	H11	重型普通货车
VehicleType	H12	重型厢式货车
VehicleType	H13	重型封闭货车
VehicleType	H14	重型罐式货车
VehicleType	H15	重型平板货车
VehicleType	H16	重型集装厢车
VehicleType	H17	重型自卸货车
VehicleType	H18	重型特殊结构货车
VehicleType	H21	中型普通货车
VehicleType	H22	中型厢式货车
VehicleType	H23	中型封闭货车
VehicleType	H24	中型罐式货车
VehicleType	H25	中型平板货车
VehicleType	H26	中型集装厢车
VehicleType	H27	中型自卸货车
VehicleType	H28	中型特殊结构货车
VehicleType	H31	轻型普通货车
VehicleType	H32	轻型厢式货车
VehicleType	H33	轻型封闭货车
VehicleType	H34	轻型罐式货车
VehicleType	H35	轻型平板货车
VehicleType	H37	轻型自卸货车
VehicleType	H38	轻型特殊结构货车
VehicleType	H41	微型普通货车
VehicleType	H42	微型厢式货车
VehicleType	H43	微型封闭货车
VehicleType	H44	微型罐式货车
VehicleType	H45	微型自卸货车
VehicleType	H46	微型特殊结构货车
VehicleType	H51	低速普通货车
VehicleType	H52	低速厢式货车
VehicleType	H53	低速罐式货车
VehicleType	H54	低速自卸货车
VehicleType	J11	轮式装载机械
VehicleType	J12	轮式挖掘机械
VehicleType	J13	轮式平地机械
VehicleType	K11	大型普通客车
VehicleType	K12	大型双层客车
VehicleType	K13	大型卧铺客车
VehicleType	K14	大型铰接客车
VehicleType	K15	大型越野客车
VehicleType	K21	中型普通客车
VehicleType	K22	中型双层客车
VehicleType	K23	中型卧铺客车
VehicleType	K24	中型铰接客车
VehicleType	K25	中型越野客车
VehicleType	K31	小型普通客车
VehicleType	K32	小型越野客车
VehicleType	K33	轿车
VehicleType	K41	微型普通客车
VehicleType	K42	微型越野客车
VehicleType	K43	微型轿车
VehicleType	M11	普通正三轮摩托车
VehicleType	M12	轻便正三轮摩托车
VehicleType	M13	正三轮载客摩托车
VehicleType	M14	正三轮载货摩托车
VehicleType	M15	侧三轮摩托车
VehicleType	M21	普通二轮摩托车
VehicleType	M22	轻便二轮摩托车
VehicleType	N11	三轮汽车
VehicleType	Q11	重型半挂牵引车
VehicleType	Q21	中型半挂牵引车
VehicleType	Q31	轻型半挂牵引车
VehicleType	T11	大型轮式拖拉机
VehicleType	T21	小型轮式拖拉机
VehicleType	T22	手扶拖拉机
VehicleType	T23	手扶变形运输机
VehicleType	X99	其它
VehicleType	Z11	大型专项作业车
VehicleType	Z21	中型专项作业车
VehicleType	Z31	小型专项作业车
VehicleType	Z41	微型专项作业车
VehicleType	Z51	重型专项作业车
VehicleType	Z71	轻型专项作业车
VehicleType	S	特种作业专用车
NoLicenseFlag	0	上牌车辆
NoLicenseFlag	1	未上牌车辆
NewVehicleFlag	0	非新车
NewVehicleFlag	1	新车
ChgOwnerFlag	1	过户重新投保
ChgOwnerFlag	0	未过户投保
EcdemicVehicleFlag	0	本地车
EcdemicVehicleFlag	1	外地车
LoanVehicleFlag	0	不是车贷投保多年
LoanVehicleFlag	1	车贷投保多年
FleetFlag	0	非车队车
FleetFlag	1	车队车
ClaimAdjustReason	B1	无赔款优待-连续3年没有发生赔款
ClaimAdjustReason	B2	无赔款优待-连续2年没有发生赔款
ClaimAdjustReason	B3	无赔款优待-上年没有发生赔款
ClaimAdjustReason	B4	无赔款优待-新保或上年赔款次数在3次以下
ClaimAdjustReason	B5	无赔款优待-上年发生3次赔款
ClaimAdjustReason	B6	无赔款优待-上年发生4次赔款
ClaimAdjustReason	B7	无赔款优待-上年发生5次及以上赔款
IsContinuousPolicy	0	非续保
IsContinuousPolicy	1	续保
LoyaltyAdjustReason	D1	客户忠诚度-首年投保
LoyaltyAdjustReason	D2	客户忠诚度-续保
RiskFlag	0	正常车型
RiskFlag	1	稀有车型
RiskFlag	2	特异车型
RiskFlag	3	老旧车型
RiskFlag	4	配件疑难
InsurerCode	AAIC	上海安信农业保险股份有限公司
InsurerCode	ABIC	安邦财产保险股份有限公司
InsurerCode	ACIC	安诚财产保险股份有限公司
InsurerCode	AHIC	安华农业保险股份有限公司
InsurerCode	AICS	永诚财产保险股份有限公司
InsurerCode	BOCI	中银保险有限公司
InsurerCode	BPOC	渤海财产保险股份有限公司
InsurerCode	CAIC	长安责任保险股份有限公司
InsurerCode	CCIC	中国大地财产保险股份有限公司
InsurerCode	CICP	中华联合财产保险公司
InsurerCode	CPIC	中国太平洋财产保险股份有限公司
InsurerCode	DBIC	都邦财产保险股份有限公司
InsurerCode	DICC	大众保险股份有限公司
InsurerCode	GPIC	中国人寿财产保险公司
InsurerCode	HAIC	华安财产保险股份有限公司
InsurerCode	HNIC	华农财产保险股份有限公司
InsurerCode	HTIC	华泰财产保险股份有限公司
InsurerCode	MACN	民安保险(中国)有限公司
InsurerCode	PAIC	中国平安财产保险股份有限公司
InsurerCode	PICC	中国人民财产保险股份有限公司
InsurerCode	SMIC	阳光农业相互保险公司
InsurerCode	TAIC	天安保险股份有限公司
InsurerCode	TPBX	天平汽车保险股份有限公司
InsurerCode	TPIC	太平保险有限公司
InsurerCode	YAIC	永安财产保险股份有限公司
InsurerCode	YGBX	阳光财产保险股份有限公司
InsurerCode	ZSIC	浙商财产保险股份有限公司
InsurerCode	ZKIC	紫金财产保险股份有限公司
InsurerCode	JTIC	锦泰财产保险股份有限公司
NoClaimAdjustReason	01	过户车，不浮动
NoClaimAdjustReason	02	脱保6个月以上，不浮动
NoClaimAdjustReason	03	本次投保为短期单，不下浮
NoClaimAdjustReason	04	没有上年度保单，不浮动
NoClaimAdjustReason	05	上张保单为短期单，不下浮
NoClaimAdjustReason	06	上张保单做过批改过户，不浮动。
NoClaimAdjustReason	07	上年和本年不在同一公司投保，不浮动
NoClaimAdjustReason	08	脱保3个月至6个月（含），不下浮
NoClaimAdjustReason	09	车贷投保多年，不下浮
NoClaimAdjustReason	10	对历史保单（上平台前的保单）的批改，不重新计算客户忠诚度和无赔优系数
NoLoyaltyAdjustReason	01	过户车，不浮动
NoLoyaltyAdjustReason	02	脱保6个月以上，不浮动
NoLoyaltyAdjustReason	03	本次投保为短期单，不下浮
NoLoyaltyAdjustReason	04	没有上年度保单，不浮动
NoLoyaltyAdjustReason	05	上张保单为短期单，不下浮
NoLoyaltyAdjustReason	06	上张保单做过批改过户，不浮动。
NoLoyaltyAdjustReason	07	上年和本年不在同一公司投保，不浮动
NoLoyaltyAdjustReason	08	脱保3个月至6个月（含），不下浮
NoLoyaltyAdjustReason	09	车贷投保多年，不下浮
NoLoyaltyAdjustReason	10	对历史保单（上平台前的保单）的批改，不重新计算客户忠诚度和无赔优系数
RiskWarningType	01	报案次数N次及N次以上
RiskWarningType	02	夜间出险N次及N次以上
RiskWarningType	03	无责N次及N次以上
ThreeAmount	50000	50000
ThreeAmount	100000	100000
ThreeAmount	150000	150000
ThreeAmount	200000	200000
ThreeAmount	300000	300000
ThreeAmount	500000	500000
ThreeAmount	1000000	1000000
ThreeAmount	1500000	1500000
ThreeAmount	2000000	2000000
ThreeAmount	2500000	2500000
ThreeAmount	3000000	3000000
ThreeAmount	3500000	3500000
ThreeAmount	4000000	4000000
ThreeAmount	4500000	4500000
ThreeAmount	5000000	5000000
ThreeAmount	5500000	5500000
ThreeAmount	6000000	6000000
ThreeAmount	6500000	6500000
ThreeAmount	7000000	7000000
ThreeAmount	7500000	7500000
ThreeAmount	8000000	8000000
ThreeAmount	8500000	8500000
ThreeAmount	9000000	9000000
ThreeAmount	9500000	9500000
ThreeAmount	10000000	10000000
GlassFlag	1	进口玻璃
GlassFlag	2	国产玻璃
GlassFlag	3	进口特种
GlassFlag	4	国产特种
FreeCharge	300	300
FreeCharge	500	500
FreeCharge	1000	1000
FreeCharge	2000	2000
DHA0032_Amount	2000	2000
DHA0032_Amount	5000	5000
DHA0032_Amount	10000	10000
DHA0032_Amount	20000	20000
CarCountry	1	进口
CarCountry	2	国产
AreaFlag	330100	杭州市
AreaFlag	330300	温州市
AreaFlag	330400	嘉兴市
AreaFlag	330500	湖州市
AreaFlag	330600	绍兴市
AreaFlag	330700	金华市
AreaFlag	330800	衢州市
AreaFlag	330900	舟山市
AreaFlag	331000	台州市
AreaFlag	331100	丽水市
AreaFlag	339800	萧山区
AreaFlag	339900	义乌市
ProducerCode	11	传统直销
ProducerCode	12	新渠道直销
ProducerCode	13	电子商务
ProducerCode	14	电话营销
ProducerCode	51	个人代理
ProducerCode	52	兼业代理
ProducerCode	53	专业代理
ProducerCode	54	经纪业务