#page2 info

--out--
out_dir=D:\project\webProject\speed\WebRoot\
out_name=user\test.jsp
#自动初始化脚本
init_js=jscom\page2_init.js
#自动生成表单脚本
form_js=jscom\m_form.js
--end--

#主页头文件选取
--head--
jsp_head=stander
stander_jsp_head.tpl
jsp_head_jspcode.tpl
html_head=stander
html_include.tpl
css_import.tpl
css_in.tpl
js_include.tpl
--jsp_head_end--

--end--

#主页tabpanel面板信息
--maintab--
#tabID,中文名称,是否主tab
local_tab|本地面板|Y|
--end--


#主页面板信息
--mainpanel--
SPINFO|平台录入信息|local_tab|
--end--

#页面字段
--fieldpanel--
SPINFO|CarMark|text|(*)车牌号|50|red|N|
SPINFO|VIN|text|(*)VIN码/车辆识别码|50|red|N|
SPINFO|EngineNo|text|(*)发动机号|50|red|N|
SPINFO|Model|text|(*)车辆型号|50|red|N|
SPINFO|VehicleType|input.combbox|(*)号牌种类||red|N|
SPINFO|NoLicenseFlag|input.combbox|(*)未上牌车辆标志||red|N|
SPINFO|NewVehicleFlag|input.combbox|(*)新车标志||red|N|
SPINFO|ChgOwnerFlag|input.combbox|(*)过户车辆标志||red|N|
SPINFO|EcdemicVehicleFlag|input.combbox|(*)外地车标志||red|N|
SPINFO|LoanVehicleFlag|input.combbox|(*)是否车贷投保多年标志||red|N|
SPINFO|FleetFlag|input.combbox|(*)车队标志||red|N|
SPINFO|PrtBrand|text|(*)打印车型名称|60|red|N|
SPINFO|AreaFlag|input.combbox|(*)地区标识||red|N|
SPINFO|ProducerCode|input.combbox|(*)销售渠道代码||red|N|
SPINFO|VehicleOwnerName|text|(*)车主名称|60|red|N|
--end--

#FORM 表单
--form--
FORM_NAME = "SendAction"
FORM_FILETYPE = "SendAction.js"
FORM_TYPE = "AJAX"
#FORM AJAX
AJAX_BUTTON_NAME = "Button1"
AJAX_FORM = "SendAction"
AJAX_RECV_FILE = "ServSendAction.java"
AJAX_RECV_Struct = "Send_Action_struct"
--end--
