page MAIN


lib
import sys( stander) # 包含标准界面模版组件
end;


out
	out_dir='C:\\Project_out\\'
end;

control
	field.extends(	stander.display_frameset(MAINSET)			);
	field.'{ "fieldname":"MAINSET" ,"fieldchnname":"父面板","parent":"","fieldtype":"FRAMESET"}';
	field.'{ "fieldname":"LOCALMENU" ,"fieldchnname":"本地菜单","parent":"MAINSET","fieldtype":"FRAME","src":"./MENU.jsp"}';
	field.'{ "fieldname":"LOCALMAIN" ,"fieldchnname":"主界面信息","parent":"MAINSET","fieldtype":"FRAME" , "src":"./NEW00.jsp"}';
end;