page MENU


lib
	import sys( stander )
end;

out
	out_dir='C:\\Project_out\\'
end;

control
	field.extends(	stander.display_body(CONTENT_INFO)	);
	field.'{ "fieldname":"CONTENT_INFO" , "fieldchnname":"本地面板" ,"parent":"","fieldtype":"PANEL"}';
	field.extends( stander.display_js('<script src="ui/jquery.ui.accordion.js"></script><script>$(function() {$( "#test" ).accordion();});</script>') );
	field.'{ "fieldname":"test" , "fieldchnname":"按钮框架","parent":"CONTENT_INFO","fieldtype":"MENUSET" }';
	field.'{ "fieldname":"00100000001" ,"fieldchnname":"团队信息管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00200000001" ,"fieldchnname":"被保人信息","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00300000001" ,"fieldchnname":"人员管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00400000001" ,"fieldchnname":"中介管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00500000001" ,"fieldchnname":"协议管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00600000001" ,"fieldchnname":"IC卡管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00700000001" ,"fieldchnname":"手续费联动","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00800000001" ,"fieldchnname":"直销业务提奖系数设置","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"00900000001" ,"fieldchnname":"跟单销售人员信息管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"01000000001" ,"fieldchnname":"直销绩效管理","url":"#","parent":"test","fieldtype":"MENUITEM","target":"LOCALMAIN"}';
	field.'{ "fieldname":"01000000011" ,"fieldchnname":"直销绩效管理","url":"#","parent":"01000000001","fieldtype":"SUBMENU","target":"LOCALMAIN"}';
	field.'{ "fieldname":"01000000011" ,"fieldchnname":"直销绩效管理","url":"#","parent":"01000000001","fieldtype":"SUBMENU","target":"LOCALMAIN"}';
	field.'{ "fieldname":"01000000012" ,"fieldchnname":"直销绩效管理","url":"#","parent":"01000000001","fieldtype":"SUBMENU","target":"LOCALMAIN"}';
	field.'{ "fieldname":"01000000013" ,"fieldchnname":"直销绩效管理","url":"#","parent":"01000000001","fieldtype":"SUBMENU","target":"LOCALMAIN"}';
end;