page NEW00
/******************
测试多行注释
*******************/
lib
import sys( stander) # 包含标准界面模版组件
import aoc(yongan_apl) #包含永安投保组件
import custom(custom_out) #包含一个自定义配置文件输出
end;

out
	out_dir='C:\\Project_out\\'
end;

control
	field.extends(	stander.display_body	(	CONTENT_INFO	)		);

	field.'{ "fieldname":"CONTENT_INFO" , "fieldchnname":"主面板" ,"parent":"","fieldtype":"LinearLayout","orientation":"horizontal","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"MAIN_INFO" , "fieldchnname":"主栏" ,"parent":"CONTENT_INFO","fieldtype":"LinearLayout","orientation":"horizontal","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"MAIN_SCROLL" , "fieldchnname":"滚动栏" ,"parent":"MAIN_INFO","fieldtype":"ScrollView","orientation":"horizontal","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"MAIN_TAB" , "fieldchnname":"排版主页" ,"parent":"MAIN_SCROLL","fieldtype":"TableLayout","orientation":"horizontal","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_1" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"SpnRelationshipInsured" ,"fieldchnname":"与被保险人关系","parent":"TAB_ROW_1","fieldtype":"input.select","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_2" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"EdtFlightNum" ,"fieldchnname":"航班号","parent":"TAB_ROW_2","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_3" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtStartDate" ,"fieldchnname":"生效起期","parent":"TAB_ROW_3","fieldtype":"input.date","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_4" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtEndDate" ,"fieldchnname":"生效止期","parent":"TAB_ROW_4","fieldtype":"input.date","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_5" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtBnfName" ,"fieldchnname":"受益人姓名","parent":"TAB_ROW_5","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_6" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtBnfType" ,"fieldchnname":"受益人证件类型","parent":"TAB_ROW_6","fieldtype":"input.select","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_7" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtBnfNumber" ,"fieldchnname":"受益人证件号码","parent":"TAB_ROW_7","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_8" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtBnfRelation" ,"fieldchnname":"受益关系","parent":"TAB_ROW_8","fieldtype":"input.select","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

	field.'{ "fieldname":"TAB_ROW_9" , "fieldchnname":"排版栏" ,"parent":"MAIN_TAB","fieldtype":"TableRow","layout_width":"wrap_content","layout_height":"wrap_content"}';
	field.'{ "fieldname":"edtOfficeNo" ,"fieldchnname":"营业网点","parent":"TAB_ROW_9","fieldtype":"input.select","fieldlength":"50","labelcolor":"red","mustinput":"Y","layout_width":"match_parent","layout_height":"wrap_content","layout_weight":"1"}';

end;

