#page2 info

--out--
out_dir=D:\Project\PythonProject\breed\breed_orice\out\page\
out_name=test.jsp
#自动初始化脚本
init_js=jscom/page2_init.js
#自动生成表单脚本
form_js=jscom/m_form.js
--end--

#主页头文件选取
--head--
jsp_head=stander
stander_jsp_head.tpl
jsp_head_jspcode.tpl
html_head=stander
html_include.tpl
css_import.tpl
css_in.tpl
js_include.tpl
--jsp_head_end--

--end--

#主页tabpanel面板信息
--maintab--
#tabID,中文名称,是否主tab
local_tab|本地面板|Y|
--end--


#主页面板信息
#主页面板信息
--mainpanel--
APL_INFO|投保人信息|local_tab|
PLC_INFO|保单基本信息|local_tab|
ISD_INFO|被保人信息|local_tab|
LBT_INFO|子险信息|local_tab|
--end--

#页面字段
--fieldpanel--
APL_INFO|AplName|input.text|(*)姓名|50|red|N|
APL_INFO|ID|input.text|(*)身份证|50|red|N|
PLC_INFO|AplDate|input.text|(*)投保日期|50|red|N|
PLC_INFO|StartDate|input.text|(*)起保日期|50|red|N|
PLC_INFO|EndDate|input.text|(*)终止日期||red|N|
PLC_INFO|SalesOrigin|input.combbox|(*)业务来源||red|N|
PLC_INFO|PayType|input.combbox|(*)付费约定||red|N|
PLC_INFO|ShortRateType|input.combbox|(*)计费方式||red|N|
PLC_INFO|ShortPercent|input.text|(*)短期费率||red|N|
PLC_INFO|Examinant|input.combbox|(*)审批人||red|N|
PLC_INFO|SaleOfficeNo|input.combbox|(*)销售网点||red|N|
PLC_INFO|SalesNo|input.combbox|(*)销售员|60|red|N|
PLC_INFO|AgentNo|input.combbox|(*)代理点||red|N|
PLC_INFO|SettleType|input.combbox|(*)争议处理方式||red|N|
PLC_INFO|Arbitrator|input.text|(*)仲裁机关|60|red|N|
--end--

#FORM 表单
--form--
FORM_NAME=SendAction
BUTTON_NAME=Button1
#send
FORM_SEND_FILE=SendAction.js
FORM_RECV_FILE=RecvAction.js
#struct
AJAX_RECV_Struct=SendActionStruct
#JAVA
AJAX_RECV_FILE=ServRecvAction.java
#Servlet
SERVELT_NAME=SendAction
URL_PATH=/SendAction
SAVE_PATH=server.sendpost.SendAction
--end--

