#tablename|fieldname|size|type|isindex|isnull|iskey|中文名称|
tbl_plc|AplDate|22|varchar2|Y|Y|投保日期|
tbl_plc|StartDate|22|varchar2|Y|Y|起保日期|
tbl_plc|EndDate|22|varchar2|Y|Y|终保日期|
tbl_plc|SalesOriginicleType|22|varchar2|Y|Y|业务来源|
tbl_plc|PayType|22|varchar2|Y|Y|付费约定|
tbl_plc|ShortRateTyVehicleFlag|22|varchar2|Y|Y|计费方式|
tbl_plc|ShortPercenOwnerFlag|22|varchar2|Y|Y|短期费率|
tbl_plc|Examinant|22|varchar2|Y|Y|审批人|
tbl_plc|SaleOfficeNnVehicleFlag|22|varchar2|Y|Y|归属网点|
tbl_plc|SalesNo|22|varchar2|Y|Y|业务员|
tbl_plc|AgentNo|22|varchar2|Y|Y|代理点|
tbl_plc|SettleType|22|varchar2|Y|Y|争议处理|
tbl_plc|Arbitrator|22|varchar2|Y|Y|仲裁机关|