#page1 info

--out--
out_dir=D:\Project\PythonProject\breed\breed_orice\out\page\
out_name=BusinessSend.jsp
#自动初始化脚本
init_js=jscom/m_init.js
#自动生成表单脚本
form_js=jscom/m_form.js
--end--

#主页头文件选取
--head--
jsp_head=stander
stander_jsp_head.tpl
jsp_head_jspcode.tpl
html_head=stander
html_include.tpl
css_import.tpl
css_in.tpl
js_include.tpl
--jsp_head_end--

--end--

#主页tabpanel面板信息
--maintab--
#tabID,中文名称,是否主tab
local_tab|本地面板|Y|
remote_return_tab|平台返回|Y|
--end--


#主页面板信息
--mainpanel--
HANDLE|操作平台|local_tab|
SPINFO|平台录入信息|local_tab|
LOCFLOAT|本地浮动率因子|local_tab|
BASE_INFO|基本信息|remote_return_tab|
VEL_MODEL|车型车价信息|remote_return_tab|
BUSINESSPOLICYACCIDENT|历史理赔列表|remote_return_tab|
RiskItem|承保车辆风险系数|local_tab|
ReInsureItem|重复投保提示|local_tab|
RiskWarning|风险警示|remote_return_tab|
RiskWarningClaimItem|风险警示理赔信息|remote_return_tab|
lbt_gene|子险因子|local_tab|
LBT_TOTAL_INFO|子险计算信息|local_tab|
--end--

#页面字段
--fieldpanel--
HANDLE|Test_Button|button|测试切换Button|||N|
SPINFO|CarMark|input.text|(*)车牌号|50|red|N|
SPINFO|VIN|input.text|(*)VIN码/车辆识别码|50|red|N|
SPINFO|EngineNo|input.text|(*)发动机号|50|red|N|
SPINFO|Model|input.text|(*)车辆型号|50|red|N|
SPINFO|VehicleType|input.combbox|(*)号牌种类||red|N|
SPINFO|NoLicenseFlag|input.combbox|(*)未上牌车辆标志||red|N|
SPINFO|NewVehicleFlag|input.combbox|(*)新车标志||red|N|
SPINFO|ChgOwnerFlag|input.combbox|(*)过户车辆标志||red|N|
SPINFO|EcdemicVehicleFlag|input.combbox|(*)外地车标志||red|N|
SPINFO|LoanVehicleFlag|input.combbox|(*)是否车贷投保多年标志||red|N|
SPINFO|FleetFlag|input.combbox|(*)车队标志||red|N|
SPINFO|PrtBrand|input.text|(*)打印车型名称|60|red|N|
SPINFO|AreaFlag|input.combbox|(*)地区标识||red|N|
SPINFO|ProducerCode|input.combbox|(*)销售渠道代码||red|N|
SPINFO|VehicleOwnerName|input.text|(*)车主名称|60|red|N|
ReInsureItem|RePolicyNo|input.text|重复投保保单号|||Y|
ReInsureItem|InsurerCode|input.combbox|保险公司代码|||Y|
ReInsureItem|LicensePlateNo|input.text|号牌号码|||Y|
ReInsureItem|LicensePlateType|input.combbox|号牌种类代码|||Y|
ReInsureItem|LicensePlateColorCode|input.combbox|号牌底色|||Y|
ReInsureItem|ReturnVIN|input.text|车辆识别代号|||Y|
ReInsureItem|ReturnEngineNo|input.text|发动机号|||Y|
ReInsureItem|EffectiveDate|input.text|起保日期|||Y|
ReInsureItem|ExpireDate|input.text|终保日期|||Y|
ReInsureItem|BillDate|input.text|签单日期|||Y|
LOCFLOAT|BaseCarValue|input.float|(*)实际价值|15|red|Y|
LOCFLOAT|NewCarValue|input.float|(*)新车购置价格|15|red|Y|
LOCFLOAT|RegDate|date|(*)初次登记年月日||red|N|
LOCFLOAT|AplName|input.text|(*)投保人姓名|30|red|N|
LOCFLOAT|IsdName|input.text|(*)被保人姓名|30|red|N|
LOCFLOAT|StartDate|date|(*)起保时间||red|N|
LOCFLOAT|EndDate|date|(*)终止时间||red|N|
LOCFLOAT|GlassFlag|input.combbox|玻璃属性||red|N|
lbt_gene|ThreeAmount|input.combbox|三者保额|||N|
lbt_gene|DHA0004_Amount|input.float|新增设备损失险保额|10||N|
lbt_gene|DHA0005_DAY|input.int|营运车辆停驶损失险最高赔偿天数|2||N|
lbt_gene|DHA0005_Amount|input.float|营运车辆停驶损失险日赔偿金额|5||N|
lbt_gene|DHA0022_DAY|input.int|机动车全损代步费用险最高赔偿天数|2||N|
lbt_gene|DHA0022_Amount|input.float|机动车全损代步费用险日赔偿金额|5||N|
lbt_gene|DHA0032_Amount|input.combbox|车身划痕损失险保额|10||N|
lbt_gene|DHA0040_Amount|input.float|车上人员责任险（驾驶员）每座限额|10||N|
lbt_gene|DHA0041_Amount|input.float|车上人员责任险（乘客）每座限额|10||N|
lbt_gene|DHA0012_Amount|input.float|车上货物责任险保额|10||N|
lbt_gene|FreeCharge|input.combbox|车损免赔额|10||N|
lbt_gene|RatedPassengerCapacity|input.int|核定载客人数|2||N|
lbt_gene|DHA0014_Amount|input.float|精神损害责任赔偿责任特约险保额|10||N|
lbt_gene|CarCountry|input.combbox|车辆类型|2||N|
lbt_gene|DHA0035_DriftProportion|input.float|专修厂特约条款浮动率|5||N|
BASE_INFO|QuerySequenceNo|input.text|投保查询码|||Y|
BASE_INFO|QueryPastDate|input.text|查询码有效止期|||Y|
BASE_INFO|LastProducerCode|input.text|销售渠道代码|||Y|
VEL_MODEL|VehicleModel|table|车型车价信息|||Y|
BUSINESSPOLICYACCIDENT|BusinessPolicyAccident|table|历史理赔列表|||Y|
RiskItem|ClaimAdjustValue|input.float|(*)无赔优调整系数|3|red|Y|
RiskItem|ClaimAdjustReason|input.combbox|(*)无赔优浮动原因代码||red|Y|
RiskItem|NoClaimAdjustReason|input.combbox|无赔优不浮动原因代码|||Y|
RiskItem|IsContinuousPolicy|input.combbox|续保标志||red|Y|
RiskItem|LoyaltyAdjustValue|input.float|(*)客户忠诚度调整系数|3|red|Y|
RiskItem|LoyaltyAdjustReason|input.combbox|客户忠诚度浮动原因代码|||Y|
RiskItem|NoLoyaltyAdjustReason|input.combbox|客户忠诚度不浮动原因代码|||Y|
RiskItem|MileageAdjustValue|input.float|行驶里程调整系数|||N|
RiskItem|MileageAdjustReason|input.text|行驶里程浮动原因|||N|
RiskItem|PeccancyAdjustValue|input.float|违法调整系数|||N|
RiskItem|PeccancyAdjustReason|input.text|违法浮动原因|||N|
RiskItem|TravelAdjustValue|input.float|约定行驶区调整系数|||N|
RiskItem|TravelAdjustReason|input.text|约定行驶区浮动原因|||N|
RiskItem|DriverAdjustValue|input.float|指定驾驶人调整系数|||N|
RiskItem|DriverAdjustReason|input.text|指定驾驶人浮动原因|||N|
RiskItem|LossAdjustValue|input.float|车辆损失险车型系数|||N|
RiskItem|TheftAdjustValue|input.float|盗抢险车型系数|||N|
RiskItem|FleetAdjustValue|input.float|车队调整系数|||N|
RiskItem|AdjustValueReason|input.text|车队浮动原因|||N|
RiskWarning|RiskWarningType|input.combbox|风险警示类型|||Y|
RiskWarningClaimItem|RiskWarningClaimItem|table|风险警示理赔信息|||Y|
LBT_TOTAL_INFO|Total_Prm|input.float|总保费|||Y|
LBT_TOTAL_INFO|Total_Amount|input.float|总保额|||Y|
--end--

#FORM 表单
--form--
FORM_NAME=SendAction
BUTTON_NAME=Button1
#send
FORM_SEND_FILE=SendAction.js
FORM_RECV_FILE=RecvAction.js
#struct
AJAX_RECV_Struct=SendActionStruct
#JAVA
AJAX_RECV_FILE=ServRecvAction.java
#Servlet
SERVELT_NAME=SendAction
URL_PATH=/SendAction
SAVE_PATH=server.sendpost.SendAction
--end--

--action--
#动作名字|动作对应的函数|动作需要传送的参数,用','分割|动作是否有返回值 默认生成的为1|
--end--
