page NEW00
/******************
测试多行注释
*******************/
lib
import sys( stander) # 包含标准界面模版组件
import aoc(yongan_apl) #包含永安投保组件
import custom(custom_out) #包含一个自定义配置文件输出
end;

out
	out_dir='D:\\Project\\webproject\\speed\\WebRoot\\'
end;



control
	field.extends(	stander.display_body	(	CONTENT_INFO	)		);



	field.'{ "fieldname":"CONTENT_INFO" , "fieldchnname":"本地面板" ,"parent":"","fieldtype":"PANEL"}';


	field.'{ "fieldname":"PLC_INFO" ,"fieldchnname":"保单基本信息","parent":"CONTENT_INFO","fieldtype":"PANEL"}';
	field.'{ "fieldname":"ISD_INFO" ,"fieldchnname":"被保人信息","parent":"CONTENT_INFO","fieldtype":"PANEL"}';
	field.'{ "fieldname":"LBT_INFO" ,"fieldchnname":"子险信息","parent":"CONTENT_INFO","fieldtype":"PANEL"}';

	field.'{ "fieldname":"AplDate" ,"fieldchnname":"投保日期","parent":"PLC_INFO","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"N"}';
	field.'{ "fieldname":"StartDate" ,"fieldchnname":"终保日期","parent":"PLC_INFO","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"N"}';

	field.'{ "fieldname":"AplName" ,"fieldchnname":"投保人","parent":"ISD_INFO","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"N"}';
	field.'{ "fieldname":"Address" ,"fieldchnname":"地址","parent":"ISD_INFO","fieldtype":"input.text","fieldlength":"50","labelcolor":"red","mustinput":"N"}';


	#表单定义
	#field.'{"fieldname":"SendAction","fieldchnname":"发送表单","parent":"","fieldtype":"form"}';

	#button定义
	#field.'{"fieldname":"Button1","fieldchnname":"发送","parent":"","fieldtype":"button"}';


end;

