#menu info

--out--
#输出内容
--end--

--info--
	#是否动态管理
	IsDyn = N
--end--

#菜单面版
--menu--
00100000001|团队信息管理|group_manage.jsp|
00200000001|人员管理|person_manage.jsp|
00300000001|报表管理|report_manage.jsp|
00400000001|中介管理|zhongjie_manage.jsp|
00500000001|协议管理|xieyi_manage.jsp|
00600000001|IC卡管理|IC_Card_manage.jsp|
00700000001|手续费联动|handfee_manage.jsp|
00800000001|直销业务提奖系数设置|zhixiao_tijiang_set.jsp|
00900000001|跟单销售人员信息管理|gendan_sales_manage.jsp|
01000000001|直销绩效管理|zixiao_manage.jsp|
--end--

--tree menu--

--end--