#主工程配置文件
--main--
project_name=project_android
Language=java
tpl_name=android
main_dir=D:\Project\PythonProject\breed\breed_orice
out_dir=D:\Project\PythonProject\breed\breed_orice\out
tpl_dir=tpl
config_dir=in
target_dir=out
machine=android
--end--

--page--
#页面名称|页面title|是否使用新的读入规则|
NEW00|NEW00.brd|测试android页面|Y|
--end--

--struct--
#struct文件名称
struct1.config
--end--

--associate--
#关系文件名称
associate.config
--end--
