#field1|size|type|isindex|isnull|ui_field|iskey|中文名称|
#投保主表
plc_main|CarMark|20|varchar2|Y|Y|CarMark||
plc_main|VIN|17|varchar2|Y|N|VIN||
plc_main|EngineNo|30|varchar2|Y|Y|EngineNo||
plc_main|Model|20|varchar2|Y|Y|Model||
plc_main|VehicleType|3|varchar2|Y|N|VehicleType||
plc_main|NoLicenseFlag|1|varchar2|Y|Y|NoLicenseFlag||
plc_main|NewVehicleFlag|1|varchar2|Y|Y|NewVehicleFlag||
plc_main|ChgOwnerFlag|1|varchar2|Y|Y|ChgOwnerFlag||
plc_main|EcdemicVehicleFlag|1|varchar2|Y|Y|EcdemicVehicleFlag||
plc_main|LoanVehicleFlag|1|varchar2|Y|Y|LoanVehicleFlag||
plc_main|FleetFlag|1|varchar2|Y|Y|FleetFlag||
plc_main|PrtBrand|30|varchar2|Y|Y|PrtBrand||
plc_main|QuerySequenceNo|30|varchar2|Y|N|QuerySequenceNo|iskey|
plc_main|QueryPastDate|30|varchar2|Y|N|QueryPastDate||
plc_main|LastProducerCode|2|Number(2)|Y|N|LastProducerCode||
plc_main|ClaimAdjustValue|3,2|Number(3,2)|Y|Y|ClaimAdjustValue||
plc_main|ClaimAdjustReason|2|varchar2|Y|Y|ClaimAdjustReason||
plc_main|NoClaimAdjustReason|2|Number(2)|Y|Y|NoClaimAdjustReason||
plc_main|IsContinuousPolicy|1|Number(1)|Y|Y|IsContinuousPolicy||
plc_main|LoyaltyAdjustValue|3,2|Number(3,2)|Y|Y|LoyaltyAdjustValue||
plc_main|LoyaltyAdjustReason|2|varchar2|Y|Y|LoyaltyAdjustReason||
plc_main|NoLoyaltyAdjustReason|2|Number(2)|Y|Y|NoLoyaltyAdjustReason||
plc_main|MileageAdjustValue|3,2|Number(3,2)|Y|N|MileageAdjustValue||
plc_main|MileageAdjustReason|20|Number(20)|Y|N|MileageAdjustReason||
plc_main|PeccancyAdjustValue|3,2|Number(3,2)|Y|N|PeccancyAdjustValue||
plc_main|PeccancyAdjustReason|20|Number(20)|Y|N|PeccancyAdjustReason||
plc_main|TravelAdjustValue|3,2|Number(3,2)|Y|N|TravelAdjustValue||
plc_main|TravelAdjustReason|20|Number(20)|Y|N|TravelAdjustReason||
plc_main|DriverAdjustValue|3,2|Number(3,2)|Y|N|DriverAdjustValue||
plc_main|DriverAdjustReason|20|Number(20)|Y|N|DriverAdjustReason||
plc_main|LossAdjustValue|3,2|Number(3,2)|Y|N|LossAdjustValue||
plc_main|TheftAdjustValue|3,2|Number(3,2)|Y|N|LossAdjustValue||
plc_main|FleetAdjustValue|3,2|Number(3,2)|Y|N|FleetAdjustValue||
plc_main|AdjustValueReason|20|Number(20)|Y|N|AdjustValueReason||
plc_main|BaseCarValue|10|Number(10)|Y|Y|BaseCarValue||
plc_main|NewCarValue|12|Number(12)|N|N|NewCarValue||
plc_main|RegDate|30|varchar2|Y|Y|RegDate||
plc_main|AplName|30|varchar2|Y|Y|AplName|iskey|
plc_main|IsdName|30|varchar2|Y|Y|IsdName||
plc_main|StartDate|30|varchar2|Y|Y|StartDate||
plc_main|EndDate|30|varchar2|Y|Y|EndDate||
plc_main|ThreeAmount|10|Number(10)|N|N|ThreeAmount||
plc_main|GlassFlag|1|Number(1)|N|N|GlassFlag|
plc_main|DHA0004_Amount|10|Number(10)|N|N|DHA0004_Amount||
plc_main|DHA0005_DAY|2|Number(2)|N|N|DHA0005_DAY||
plc_main|DHA0005_Amount|10|Number(10)|N|N|DHA0005_Amount||
plc_main|DHA0014_Amount|10|Number(10)|N|N|DHA0014_Amount||
plc_main|DHA0022_DAY|2|Number(2)|N|N|DHA0022_DAY||
plc_main|DHA0022_Amount|10|Number(10)|N|N|DHA0022_Amount||
plc_main|DHA0032_Amount|10|Number(10)|N|N|DHA0032_Amount||
plc_main|DHA0040_Amount|10|Number(10)|N|N|DHA0040_Amount||
plc_main|DHA0041_Amount|10|Number(10)|N|N|DHA0041_Amount||
plc_main|DHA0012_Amount|10|Number(10)|N|N|DHA0012_Amount||
plc_main|CarCountry|1|Number(1)|N|N|carcountry||
plc_main|DHA0035_DriftProportion|3|Number(3)|N|N|DHA0035_driftproportion||
plc_main|FreeCharge|1|Number(1)|N|N|FreeCharge||
plc_main|RatedPassengerCapacity|2|Number(2)|N|N|RatedPassengerCapacity||
plc_main|PrtBrand|255|varchar2|N|N|PrtBrand||
plc_main|AreaFlag|255|varchar2|N|N|AreaFlag||
plc_main|ProducerCode|255|varchar2|N|N|ProducerCode||
plc_main|VehicleOwnerName|255|varchar2|N|N|VehicleOwnerName||
plc_main|usename|255|varchar2|Y|Y|||