plc_lbt|QuerySequenceNo|30|varchar2|Y|N|QuerySequenceNo|iskey|
plc_lbt|lbtcode|7|varchar2|Y|N|lbtcode||
plc_lbt|lbtname|50|varchar2|Y|N|lbtname||
plc_lbt|lbtamount|10,2|Number(10,2)|Y|N|lbtamount||
plc_lbt|lbtrate|10,2|Number(10,2)|Y|N|lbtrate||
plc_lbt|lbtbaseprm|10,2|Number(10,2)|Y|N|lbtbaseprm||
plc_lbt|lbtzprm|10,2|Number(10,2)|Y|N|lbtzprm||
plc_lbt|lbtlprm|10,2|Number(10,2)|Y|N|lbtlprm||
plc_lbt|floatrate|10,2|Number(10,2)|Y|N|floatrate||
plc_lbt|isnotprm|2|varchar2|N|N|isnotprm||