component menu
#按钮的规则，

control
	menu = {
		isdyn = "N",
		menus = {
			group_manage = {"mino":"00100000001","micaption":"团队信息管理","url":"group_manage.jsp"}
			person_manage = {"mino":"00200000001","micaption":"人员管理","url":"person_manage.jsp"}
			group_menu = {"mino":"00300000001","micaption":"报表管理","url":"report_manage.jsp"}
			group_menu = {"mino":"00400000001","micaption":"中介管理","url":"report_manage.jsp"}
			group_menu = {"mino":"00500000001","micaption":"协议管理","url":"zhongjie_manage.jsp"}
			group_menu = {"mino":"00600000001","micaption":"IC卡管理","url":"IC_Card_manage.jsp"}
			group_menu = {"mino":"00700000001","micaption":"手续费联动","url":"handfee_manage.jsp"}
			group_menu = {"mino":"00800000001","micaption":"直销业务提奖系数设置","url":"zhixiao_tijiang_set.jsp"}
			group_menu = {"mino":"00900000001","micaption":"跟单销售人员信息管理","url":"gendan_sales_manage.jsp"}
			group_menu = {"mino":"01000000001","micaption":"直销绩效管理","url":"zixiao_manage.jsp"}
		}
	}
end;

servlet
	#servletname = 'component/menu/'
end;